@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');

/* this thing below helps with specificity issues or sumn lol */
@layer utilities {
    .wave {
        animation-name: wave-animation; 
        animation-duration: 2.5s;      
        animation-iteration-count: infinite; 
        transform-origin: 70% 70%;      
    }
    @keyframes wave-animation {
        0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
    }
    .circle {
        animation-name: floating; 
        animation-duration: 6s; 
        animation-iteration-count: infinite; 
        animation-timing-function: ease-in-out; 
    }
    @keyframes floating { 
        0% { transform: translate(0,  0px); } 
        50%  { transform: translate(0, 30px); } 
        100%   { transform: translate(0, -0px); }     
    } 
    
    /* html, body, #_next {
        min-height: 100vh;
    } */
}